.header img{
    float: left;
    height: 80px;
    margin: 20px;
    padding: 10px;


}
.header nav{
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    color: coral;
}